.classpath
.project
.settings/
target/
*.class.metadata/

.codegraph
.idea/
*.iml

### VS Code ###
.vscode/

### macOS ###
.DS_Store

### Logs ###
*.log
logs/

### Maven ###
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
HELP.md